body {
  background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  background-color: hsl(240, 78%, 98%);
  font-weight: 700;
  font-size: 15px;
  width: 1440px ;
  height: 630px;
  font-family: "Montserrat", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.amount {
  font-size: 50px;
}
.plan-type {
  font-size: 16px;
}
.plan {
  text-align: center;
  background-color: #ffffff;
  margin: 10px;
  width: 300px;
  height: 380px;
  border-radius: 2.5%;
  box-shadow: 0px 0px 20px 0px hsl(240, 78%, 92%);
  transition: all 0.1s ease-out;
}
.plan-features {
  padding: 0 15%;
}
.features {
  font-size: 13px;
  padding: 10% 0;
  border-top: 1px solid hsl(240, 78%, 94%);
}
.learn-more a {
  padding: 10px 45px;
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(to right, hsl(236, 72%, 75%), hsl(237, 63%, 64%));
  color: white;
}
.plan:hover {
  transform: scale(1.1);
  background: linear-gradient(hsl(236, 72%, 75%), hsl(237, 63%, 64%));
  color: white;
}
.plan:hover a {
  background: #ffffff;
  color: hsl(237, 63%, 64%);
}
